---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// code syntax highlighting
div.highlighter-rouge,
figure.highlight {
  line-height: 1.3; // default is 1.8
}

.page__content {
  p,
  li,
  li li,
  dl {
    font-size: 0.85em; // default is 1em
  }
  li li {
    font-size: 1em;
  }
}